<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
     <ion-title>
      ToDo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 <ion-list lines="full">
  <ion-item>
    <ion-label>
      <h2>ToDo</h2>
    </ion-label>
  </ion-item>
 </ion-list>

 <div class="ion-padding">
   <ion-button expand="block" routerLink="/ricky" color="primary">
     <ion-icon slot="start" name="arrow-forward"></ion-icon>
     Ricky
   </ion-button>
 </div>
</ion-content>
